.main-container {
}

.worker-container {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.worker-image {
  width: 100%;
}

@media (max-width: 976px) {
  .worker-container {
    width: 60%;

    flex-direction: column-reverse;
  }
}
